h1 {
  text-align: center;
  color: var(--main);
}

input {
  border: 2px solid var(--add3);
  display: block;
  max-width: 320px;
  height: 45px;
  padding: 0 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

form button,
form a {
  background-color: var(--main) !important;
  color: var(--text1) !important;
  margin-left: auto;
  margin-right: auto;
}

footer{
  bottom: 0;
}
