main {
    align-items: baseline;
}


h2 {
    text-align: center;
    color: var(--main);
}

p {
    padding: 10px 5px;
    z-index: 4;
}

button {
    width: 300px;
    height: 50px;
    color: var(--black);
    background-color: var(--grey);
    border-radius: 15px;
}

.res {
    color: var(--back);
}
.input_label:hover{
    cursor: pointer;
    color: var(--add3);
 }

#img {
    width: 150px;
    height: 150px;
 }

#avatar_input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0;
}

.avatar_block {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar_block img {
    width: 100% !important;
    height: 100% !important; 
    object-fit: cover;
    object-position: center center;
}
#avatar_input:hover, .style_select:hover{
    cursor: pointer;
}
.download, .style_select{
    margin-left: 15px;
    color: var();
    padding: 0 5px 2px 5px;
    height: max-content;
    width: max-content;
    color: var(--main);
    background-color: var(--text1);
}
.download:hover {
    cursor: pointer;
    color: var(--text1);
    background-color: var(--main);
}

section{
   max-width: max-content;
   margin-left: 10%;
   margin-bottom: 10%;
}
p {
    color: var(--main);
}
.resumes_wrapper {
    width: max-content;
    height: max-content;
    margin-left: 50px;
    background-color: var(--button);
    border-radius: 20px;
}

.resumes {
    min-width:300px;
    background-color: var(--main);
    color: var(--white);
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 12px;
}


.hidden {
    display: none;
}

footer{
  bottom: 0;
  position: fixed;
}

#exit {
    position:fixed;
    border-radius: 6px;
    padding: 2px 4px 4px 4px;
    bottom: 80px;
    color: var(--main);
    background-color: var(--text1);
    margin-left: 90%;
}
#exit:hover{
    cursor: pointer;
    z-index: 1;
    background-color: var(--main);
    color: var(--text1);
}